* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 10px 0;
}

h2 {
  margin: 20px 10px;
}

button {
  border: solid 1px #ccc;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  font-size: 1em;
  background-color: black;
  color: white;
  transition: all 0.5s;
  margin: 0 20px;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
