.wrapper {
  overflow-x: hidden;
}

.wrapper .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1999;
  cursor: pointer;
  display: none;
}

.wrapper .off-canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 255px;
  z-index: 2000;
  transition: all ease 0.25s;
  overflow-y: auto;
}


.left-canvas .content  > .main-container, .main-navbar {
  transform: translateX(0);
  transition: all ease 0. 25s;
}

.left-canvas > .off-canvas {
  left: 0;
  transform: translateX(-255px);
}

/* Activate */

.active {
  display: block;
}

.active > .off-canvas {
  transform: translateX(0);
}

.active > .overlay {
  display: block;
}

.active .content > .main-container {
  transform: translateX(255px);
}

.active .content > .main-navbar {
  transform: translateX(255px);
}
